<!DOCTYPE html>
<html lang="en" dir="ltr">

{% load static %}

{% include "head_common.html" %}

<body>
    <div class="login_container">

        <div class="login_header_rect">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo-1.svg' %}" svg class="login_header_logo"></a>
        </div>

        <div class="login_header_menu_container">
            <div class="login_header_menu">
                <div class="login_header_menu_text" id="login_menu_text_signup"><a href="{% url 'signup' %}">Sign Up</a></div>
                <div class="login_header_menu_line" id="login_menu_line_signup"></div>
            </div>

            <div class="login_header_menu">
                <div class="login_header_menu_text" id="login_menu_text_login"><a href="{% url 'login' %}">Already with account? Log in</a></div>
                <div class="login_header_menu_line" id="login_menu_line_login"></div>
            </div>
        </div>

        <div class="login_body">
            <div class="login_body_title" id="reset_password_title">Reset your password</div>

            <div class="reset_password_inst">
                Type in your email address below and we'll send you an
                email with instructions on how to create a new password
            </div>

            <div class="login_form_container" id="reset_password_form_container">
                <form action="" method="post">
                    {% csrf_token %}
                    <label>Your email</label>
                    {% if form.email.errors %}{{ form.email.errors }}{% endif %}
                    <p>{{ form.email }}</p>
                    <button type="submit" id="reset_password_submit">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
