{% extends "base_generic.html" %}

{% block content %}

    <div class="list_header">Library Home</div>

    <div class="welcome_container">

        <div id="username" style="display: none;">{{ request.user.get_username }}</div>

        <script type = "text/javascript">

            var days = 730; // days until cookie expires = 2 years.
            var lastvisit=new Object();
            var firstvisitmsg="This is your first visit, Welcome!";
            var user=$("#username").text().split('@')[0];
            lastvisit.subsequentvisitmsg="Welcome Back "+user+"!,<br> Your last visit was at: <b>[displaydate]</b>";

            lastvisit.getCookie=function(Name){
                var re=new RegExp(Name+"=[^;]+", "i");
                if (document.cookie.match(re))
                    return document.cookie.match(re)[0].split("=")[1];
                return'';
            }

            lastvisit.setCookie=function(name, value, days){
                var expireDate = new Date();

                var expstring=expireDate.setDate(expireDate.getDate()+parseInt(days));
                document.cookie = name+"="+value+"; expires="+expireDate.toGMTString()+"; path=/";
            }

            lastvisit.showmessage = function() {
                var wh = new Date();
                if (lastvisit.getCookie("visitc") == "") {
                    lastvisit.setCookie("visitc", wh, days);
                    document.write(firstvisitmsg);
                }

                else {
                    var lv = lastvisit.getCookie("visitc");
                    var lvp = Date.parse(lv);
                    var now = new Date();
                    now.setTime(lvp);
                    var day = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
                    var month = new Array ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
                    var dd = now.getDate();
                    var dy = now.getDay();
                    dy = day[dy];
                    var mn = now.getMonth();
                    mn = month[mn];
                    yy = now.getFullYear();
                    var hh = now.getHours();
                    var ampm = "AM";
                    if (hh >= 12) {ampm = "PM"}
                    if (hh >12){hh = hh - 12};
                    if (hh == 0) {hh = 12}
                    if (hh < 10) {hh = "0" + hh};
                    var mins = now.getMinutes();
                    if (mins < 10) {mins = "0"+ mins}
                        var secs = now.getSeconds();
                    if (secs < 10) {secs = "0" + secs}
                        var dispDate = dy + ", " + mn + " " + dd + ", " + yy + ", at time " +  hh + ":" + mins + ":" + secs + " " + ampm
                    document.write(lastvisit.subsequentvisitmsg.replace("\[displaydate\]", dispDate))
                }

                lastvisit.setCookie("visitc", wh, days);
            }

            lastvisit.showmessage();

            window.onload = function() {
                //when the document is finished loading, replace everything
                //between the <a ...> </a> tags with the value of splitText
                document.getElementById("myLink").innerHTML=dispDate;
            }

        </script>

        <br>
        <br>
        <br>
        <h2>System Notifications</h2>
        <br>
        <div>
            <li>Overall <strong><i>Users</i></strong> registered: {{ num_users }}</li>
            <br>
            <li>Books: {{ num_books }}</li>
            <li>Copies: {{ num_instances }}</li>
            <li>Copies available: {{ num_instances_available }}</li>
            <li>Authors: {{ num_authors }}</li>
            <li>Genres: {{ num_genres }}</li>
            <br>
            <li>Visitors Counters: {{ num_visits }}</li>
            <br>
            <li><b>System Version</b>: 1.0</li>
        </div>
        <br>
        <div class="welcome_button">
            <a href="{% url 'admin:index' %}" id="welcome_button_a">Admin Site</a>
        </div>

    </div>

{% endblock %}